{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet" media="all">
  <style>
    .card-5 {
      animation: fadeInUp 0.8s ease-out;
    }

    @keyframes fadeInUp {
      from {
        opacity: 0;
        transform: translateY(40px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .input--style-5:focus {
      border-color: #dc3545;
      box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
    }

    @media (max-width: 768px) {
      .wrapper--w790 {
        padding: 0 15px;
      }
      .card-5 {
        border-radius: 10px;
      }
    }
  </style>
</head>
<body>
  {% include "blood/navbar.html" %}

  <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
      <br><br><br>

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
          </div>
        {% endfor %}
      {% endif %}

      <div class="card card-5">
        <div class="card-heading">
          <h2 class="title">Donor Signup</h2>
        </div>
        <div class="card-body">
          <form method="POST" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-row">
              <div class="name">First Name</div>
              <div class="value">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-danger text-white"><i class="fas fa-user"></i></span>
                  </div>
                  {% render_field userForm.first_name|attr:'required:true' class="form-control" %}
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="name">Last Name</div>
              <div class="value">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-danger text-white"><i class="fas fa-user"></i></span>
                  </div>
                  {% render_field userForm.last_name|attr:'required:true' class="form-control" %}
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="name">Username</div>
              <div class="value">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-danger text-white"><i class="fas fa-user-circle"></i></span>
                  </div>
                  {% render_field userForm.username|attr:'required:true' class="form-control" %}
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="name">Password</div>
              <div class="value">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-danger text-white"><i class="fas fa-lock"></i></span>
                  </div>
                  {% render_field userForm.password|attr:'required:true' class="form-control" %}
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="name">Blood Group</div>
              <div class="value">
                <div class="input-group">
                  <select name="bloodgroup" class="form-control" required>
                    <option disabled selected>Choose option</option>
                    <option>O+</option>
                    <option>O-</option>
                    <option>A+</option>
                    <option>A-</option>
                    <option>B+</option>
                    <option>B-</option>
                    <option>AB+</option>
                    <option>AB-</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="name">Address</div>
              <div class="value">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-danger text-white"><i class="fas fa-map-marker-alt"></i></span>
                  </div>
                  {% render_field donorForm.address|attr:'required:true' class="form-control" %}
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="name">Mobile</div>
              <div class="value">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-danger text-white"><i class="fas fa-phone"></i></span>
                  </div>
                  {% render_field donorForm.mobile|attr:'required:true' class="form-control" %}
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="name">Profile Pic</div>
              <div class="value">
                <div class="input-group">
                  {% render_field donorForm.profile_pic|attr:'required:true' class="form-control-file" %}
                </div>
              </div>
            </div>

            <div>
              <button class="btn btn--radius-2 btn-danger" type="submit">Register</button>
            </div>
          </form>
          <br>
          <p style="text-align: center;">
            Already have an account? <a href="/donor/donorlogin" style="text-decoration: none;">Click here to login</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  {% include "blood/footer.html" %}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>

